.background{
    display: flex;
    justify-content: center;
}

img.borderp{
    border: 2px solid #aa7af7;
}

img.borderpb{
    border: 2px solid #7541c8;
}

body{
    color: #ffffff;
    font-family:Helvetica;
}

p.black{
    color:rgb(54, 52, 52);
}

p.username{
    margin: 10px 10px 0px 5px;
    font-size:xx-small;
    padding: 0px;
}


p.username +p{
    margin: 0px 0px 0px 0px;
    opacity: .5;
    font-size:7px;
    padding: 0px;
}


p.username + p +p{
    font-weight: bold;
    margin: 0px 10px 0px 10px;
    font-size: small;
    float: left;
    padding: 0px 10px 0px 10px;
}

p.username + p +p +p{
    margin: 10px 10px 0px 10px;
    opacity: .7;
    font-size:xx-small;
    float: left;
    padding: 0px 10px 0px 10px;
}

img{
    width: 17px;
    border-radius: 10px;
    float: left;
    margin: 10px 10px 10px 20px;
}

.container{
    display: flex;
    background-color: #ecf2f8;
    justify-content: center;
    margin: 25px;
    padding: 25px;
}

.container-testimony{
    display: flex;
    flex-direction: column;
}

.container-upper{
    display: flex;
}

.container-down{
    display: flex;
}


#DC{
    background-color: #7541c8;
    margin: 10px;
    height: 200px;
    width: 400px;
    border-radius: 10px;
}

#JW{
    background-color:#48556a;
    margin: 10px;
    height: 200px;
    width: 170px;
    border-radius: 10px;
}

#JH{
    background-color: #ffffff;
    margin: 10px;
    width: 180px;
    height: 170px;
    border-radius: 10px;
}

#KW{
    background-color: #ffffff;
    margin: 10px;
    width: 180px;
    height: 390px;
    border-radius: 10px;
}

#PA{
    background-color:#19212e;
    margin: 10px;
    width: 390px;
    height: 170px;
    border-radius: 10px;
}
