
:root{
    --violet:#7541c8;
    --gray: #48556a;
    --blackies-blue: #19212e;
    --white: #fff;
    --whiteback: #f3f3f3;
}

body{
    color: var(--white);
    background-color: var(--whiteback);
}

*{
    margin: 0;
    padding: 0;
}

.testimonal-grid-container{
    padding: 5% 3%;
}

.main-left-container{
    display: flex;
    flex-direction: column;
}

.grid-item{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

#testimonial-1{
    background-color: var(--violet);
}

#testimonial-2{
    background-color:var(--gray);
}

#testimonial-3{
    background-color: var(--white);
    color:black;
}

#testimonial-4{ 
    background-color:var(--blackies-blue);
}

#testimonial-5{
    color:black;
    background-color: var(--white);
}

@media (min-width: 576px) {

    .testimonal-grid-container, #bottom, #top{
        display: flex;
    }

    #top{
        align-items: stretch;
    }
    #testimonial-1, #testimonial-4{
        flex-basis: 65%;
    }

    #testimonial-2, #testimonial-3{
        flex-basis: 35%;
    }


    #testimonial-5{
        flex-basis: 40%;
    }
    
    .grid-item{
        margin-right: 22px;
    }
}